html,
body,
#app,
.container {
  height: 100%;
}

#app {
  font-family: 'Montserrat', sans-serif;
}


/* Navbar Nav Active State */
.navbar .router-link-exact-active {
  font-weight: bold;
  color: black;
}


/* Dynamic Size Image */
.image-container {
  /* background: #6b6b6b38; */
}

.image {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}


/* Custom Bootstrap Color */
.btn-primary {
  background: #6C63FF !important;
  border-color: #6C63FF !important;
}

.btn-primary:hover {
  background: #6C63FF9c !important;
  border-color: #6C63FF9c !important;
}

.btn-success {
  background: #00BFA6 !important;
  border-color: #00BFA6 !important;
}

.btn-success:hover {
  background: #00BFA69c !important;
  border-color: #00BFA69c !important;
}

.btn-danger {
  background: #FB5668 !important;
  border-color: #FB5668 !important;
}

.btn-danger:hover {
  background: #FB56689c !important;
  border-color: #FB56689c !important;
}