<template>
  <div>

    <!-- Navbar Component -->
    <Navbar />

    <div class="container mt-4 mb-4">

      <!-- BreadCrumb -->
      <BreadCrumb
        :navItems="breadCrumbNav"
        currentNav="Change Password"
      />

      <div class="row align-items-center mb-5">

        <!-- Image -->
        <div class="col-lg col-12">
          <img
            src="images/change-password-splash.svg"
            alt=""
            width="100%"
            @load="onImageLoad()"
          >
        </div>

        <!-- Form Card -->
        <div class="col-lg col-12">
          <transition
            appear
            appear-active-class="animate__animated animate__fadeInRight animate__faster"
            v-if="imgLoaded != false"
          >
            <div class="card border-white">
              <div class="card-body">
                <form @submit.stop.prevent="formOnSubmit()">

                  <!-- Old Password Input -->
                  <div class="form-group">
                    <label for="oldPassword">Old Password</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <div
                          class="input-group-text"
                          @click="oldPasswordIsVisible == 'password' ? oldPasswordIsVisible = 'text' : oldPasswordIsVisible = 'password' "
                        >
                          <div v-if="oldPasswordIsVisible == 'password'">
                            <b-icon-eye-slash></b-icon-eye-slash>
                          </div>
                          <div v-if="oldPasswordIsVisible == 'text'">
                            <b-icon-eye></b-icon-eye>
                          </div>
                        </div>
                      </div>
                      <input
                        :type="oldPasswordIsVisible"
                        class="form-control"
                        placeholder="Old Password"
                        v-model="formData.old_password"
                        id="oldPassword"
                      >
                    </div>
                    <small class="text-danger">{{ oldPasswordError }}</small>
                  </div>

                  <!-- New Password Input -->
                  <div class="form-group">
                    <label for="newPassword">New Password</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <div
                          class="input-group-text"
                          @click="passwordIsVisible == 'password' ? passwordIsVisible = 'text' : passwordIsVisible = 'password' "
                        >
                          <div v-if="passwordIsVisible == 'password'">
                            <b-icon-eye-slash></b-icon-eye-slash>
                          </div>
                          <div v-if="passwordIsVisible == 'text'">
                            <b-icon-eye></b-icon-eye>
                          </div>
                        </div>
                      </div>
                      <input
                        :type="passwordIsVisible"
                        class="form-control"
                        placeholder="New Password"
                        v-model="formData.password"
                        id="newPassword"
                      >
                    </div>
                    <small class="text-danger">{{ passwordError }}</small>
                  </div>

                  <!-- Password Confirmation Input -->
                  <div class="form-group">
                    <label for="passwordConfirmation">Confirm Password</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <div
                          class="input-group-text"
                          @click="passwordConfirmIsVisible == 'password' ? passwordConfirmIsVisible = 'text' : passwordConfirmIsVisible = 'password' "
                        >
                          <div v-if="passwordConfirmIsVisible == 'password'">
                            <b-icon-eye-slash></b-icon-eye-slash>
                          </div>
                          <div v-if="passwordConfirmIsVisible == 'text'">
                            <b-icon-eye></b-icon-eye>
                          </div>
                        </div>
                      </div>
                      <input
                        :type="passwordConfirmIsVisible"
                        class="form-control"
                        placeholder="Confirm Password"
                        v-model="formData.password_confirmation"
                        id="passwordConfirmation"
                      >
                    </div>
                    <small class="text-danger">{{ passwordConfirmError }}</small>
                  </div>

                  <hr>

                  <div class="form-group">
                    <button
                      type="submit"
                      class="btn btn-primary"
                    >Save Change</button>
                  </div>

                </form>
              </div>
            </div>
          </transition>
        </div>

      </div>

    </div>

  </div>
</template>

<script>

import api from '@/core/ApiService'
import token from '@/core/JwtService'
import Navbar from '@/components/Navbar.vue'
import BreadCrumb from '@/components/BreadCrumb.vue'

export default {

  name: 'ChangePassword',

  components: {
    Navbar,
    BreadCrumb
  },

  data() {
    return {
      imgLoaded: false,
      formData: {
        old_password: '',
        password: '',
        password_confirmation: ''
      },
      oldPasswordError: '',
      passwordError: '',
      passwordConfirmError: '',
      oldPasswordIsVisible: 'password',
      passwordIsVisible: 'password',
      passwordConfirmIsVisible: 'password',
      breadCrumbNav: [
        { name: 'Profile', route: '/profile' },
      ]
    }
  },

  methods: {

    onImageLoad() {
      this.imgLoaded = true
    },

    clearValidationError() {
      this.oldPasswordError = '',
        this.passwordError = '',
        this.passwordConfirmError = ''
    },

    setValidationError(error) {
      this.oldPasswordError = 'old_password' in error ? error.old_password[0] : ''
      this.passwordError = 'password' in error ? error.password[0] : ''
      this.passwordConfirmError = 'password_confirmation' in error ? error.password_confirmation[0] : ''
    },

    formSuccess(data) {
      this.clearValidationError()
      this.$toast.success(data.message, {
        position: 'top-right'
      })
      this.$router.push({ name: 'Profile' })
    },

    formOnSubmit() {
      api.put('/profile/change-password/' + token.getUserId(), this.formData)
        .then((response) => {
          this.formSuccess(response.data)
        })
        .catch((error) => {
          console.log(error)
          if (error.response.status == 422) {
            this.setValidationError(error.response.data)
          }
        })
    }

  },

}
</script>

<style>
</style>