<template>
  <div>

    <!-- Navbar Component -->
    <Navbar />

    <div class="container mt-4 mb-4">

      <!-- BreadCrumb -->
      <BreadCrumb
        :navItems="breadCrumbNav"
        currentNav="Change Profile"
      />

      <div class="row align-items-center mb-5">

        <!-- Image -->
        <div class="col-lg col-12">
          <div class="d-flex justify-content-center align-items-center image-container">
            <div
              style='height: 350px; width: 350px; position: relative'
              v-if="oldProfileImage != ''"
            >
              <img
                class="image"
                :src="[uploadedImageUrl == '' ? (imgUrl + '/' + oldProfileImage) : uploadedImageUrl]"
                alt=""
                @load="onImageLoad()"
              >
            </div>
          </div>
        </div>

        <!-- Form Card -->
        <div class="col-lg col-12">
          <transition
            appear
            appear-active-class="animate__animated animate__fadeInRight animate__faster"
            v-if="imgLoaded != false"
          >
            <div class="card border-white">
              <div class="card-body">
                <form
                  @submit.stop.prevent="formOnSubmit()"
                  enctype="multipart/form-data"
                >

                  <!-- Profile Image Input -->
                  <div class="form-group">
                    <label for="">Profile Image</label>
                    <div class="input-group">
                      <div class="custom-file">
                        <input
                          type="file"
                          ref="file"
                          class="custom-file-input"
                          id="imageGroupFile"
                          aria-describedby="inputGroupFileAddon01"
                          @change="handleFileUpload"
                        >
                        <label
                          class="custom-file-label"
                          for="imageGroupFile"
                        >{{ uploadedImageName }}</label>
                      </div>
                    </div>
                    <small class="text-danger">{{ profileImageError }}</small>
                  </div>

                  <!-- Full Name Input -->
                  <div class="form-group">
                    <label for="fullName">Full Name</label>
                    <input
                      type="text"
                      class="form-control"
                      id="fullName"
                      v-model="formData.full_name"
                      value=""
                    >
                    <small class="text-danger">{{ fullNameError }}</small>
                  </div>

                  <!-- Username Input -->
                  <div class="form-group">
                    <label for="username">Username</label>
                    <input
                      type="text"
                      class="form-control"
                      id="username"
                      v-model="formData.username"
                    >
                    <small class="text-danger">{{ usernameError }}</small>
                  </div>

                  <hr>

                  <div class="form-group">
                    <button
                      class="btn btn-primary"
                      type="submit"
                    >Save Changes</button>
                  </div>

                </form>
              </div>
            </div>
          </transition>
        </div>

      </div>

    </div>

  </div>
</template>

<script>

import api from '@/core/ApiService'
import token from '@/core/JwtService'
import Navbar from '@/components/Navbar.vue'
import BreadCrumb from '@/components/BreadCrumb.vue'

export default {

  name: 'ChangeProfile',

  components: {
    Navbar,
    BreadCrumb
  },

  data() {
    return {
      imgUrl: window.imgUrl,
      imgLoaded: false,
      formData: {
        username: '',
        full_name: '',
        profile_image: '',
      },
      oldProfileImage: '',
      uploadedImageUrl: '',
      uploadedImageName: 'Upload Gambar',
      fullNameError: '',
      usernameError: '',
      profileImageError: '',
      breadCrumbNav: [
        { name: 'Profile', route: '/profile' },
      ]
    }
  },

  methods: {

    onImageLoad() {
      this.imgLoaded = true
    },

    clearValidationError() {
      this.usernameError = ''
      this.fullNameError = ''
      this.profileImageError = ''
    },

    setValidationError(error) {
      this.profileImageError = 'profile_image' in error ? error.profile_image[0] : ''
      this.usernameError = 'username' in error ? error.username[0] : ''
      this.fullNameError = 'full_name' in error ? error.full_name[0] : ''
    },

    formSuccess(data) {
      this.clearValidationError()
      this.$toast.success(data.message, {
        position: 'top-right'
      })
      this.$router.push({ name: 'Profile' })
    },

    handleFileUpload(evt) {
      this.uploadedImageName = evt.target.value.split('\\').pop()
      this.uploadedImageUrl = URL.createObjectURL(evt.target.files[0])
      this.formData.profile_image = evt.target.files[0]
    },

    formOnSubmit() {
      let data = new FormData()
      data.append('_method', 'PUT')
      for (const [key, value] of Object.entries(this.formData)) {
        data.append(key, value)
      }
      api.post('/profile/change-profile/' + token.getUserId(), data)
        .then((response) => {
          this.formSuccess(response.data)
        })
        .catch((error) => {
          console.log(error)
          if (error.response.status == 422) {
            this.setValidationError(error.response.data)
          }
        })
    },

    setProfileData(data) {
      this.formData.username = data.username
      this.oldProfileImage = data.profile_image
      this.formData.full_name = data.full_name
    },

    getProfileData() {
      api.get('/profile/get-profile/' + token.getUserId())
        .then((response) => {
          this.setProfileData(response.data)
        })
        .catch((error) => {
          console.log(error)
        })
    }

  },

  mounted() {
    this.getProfileData()
  }

}
</script>

<style>
</style>