<template>
  <div>

    <!-- Navbar Component -->
    <Navbar />

    <div class="container mt-4 mb-4">

      <!-- BreadCrumb -->
      <BreadCrumb
        :navItems="breadCrumbNav"
        currentNav="Create Note"
      />

      <!-- Main Row -->
      <div class="row align-items-center">

        <!-- Image -->
        <div class="col-lg col-12 py-2">
          <img
            src="images/create-note.svg"
            alt=""
            width="100%"
            @load="onImageLoad()"
          >
        </div>

        <!-- Create Note Form -->
        <div class="col-lg col-12 py-2">
          <transition
            appear
            appear-active-class="animate__animated animate__fadeInRight animate__faster"
            v-if="imgLoaded != false"
          >
            <form @submit.stop.prevent="formOnSubmit()">

              <!-- Title Input -->
              <div class="form-group">
                <label for="title">Note Title</label>
                <input
                  type="text"
                  id="title"
                  class="form-control"
                  v-model="formData.title"
                >
                <small class="text-danger">{{ titleError }}</small>
              </div>

              <!-- Content Input -->
              <div class="form-group">
                <label for="content">Note Content</label>
                <textarea
                  id="content"
                  class="form-control"
                  rows="8"
                  v-model="formData.content"
                ></textarea>
                <small class="text-danger">{{ contentError }}</small>
              </div>

              <hr>

              <div class="form-group">
                <button
                  type="submit"
                  class="btn btn-primary"
                >Save Note</button>
              </div>

            </form>
          </transition>
        </div>

      </div>
    </div>

  </div>
</template>

<script>

import api from '@/core/ApiService'
import token from '@/core/JwtService'

import Navbar from '@/components/Navbar.vue'
import BreadCrumb from '@/components/BreadCrumb.vue'

export default {

  name: 'CreateNote',

  components: {
    Navbar,
    BreadCrumb
  },

  data() {
    return {
      imgLoaded: false,
      formData: {
        title: '',
        content: '',
        user_id: token.getUserId()
      },
      titleError: '',
      contentError: '',
      breadCrumbNav: [
        { name: 'Notes', route: '/notes' },
      ]
    }
  },

  methods: {

    onImageLoad() {
      this.imgLoaded = true
    },

    clearValidationError() {
      this.titleError = ''
      this.contentError = ''
    },

    setValidationError(error) {
      this.titleError = 'title' in error ? error.title[0] : ''
      this.contentError = 'content' in error ? error.content[0] : ''
    },

    formSuccess(data) {
      this.clearValidationError()
      this.$toast.success(data.message, {
        position: 'top-right'
      })
      this.$router.push({ name: 'Notes' })
    },

    formOnSubmit() {
      api.post('/notes/create-note/', this.formData)
        .then((response) => {
          this.formSuccess(response.data)
        })
        .catch((error) => {
          console.log(error)
          if (error.response.status == 422) {
            this.setValidationError(error.response.data)
          }
        })
    }

  }

}
</script>

<style>
</style>