<template>
  <div>

    <!-- Navbar Component -->
    <Navbar />

    <div class="container mt-4 mb-4">

      <div class="row align-items-center mb-5">
        <div class="col-lg col-12 order-lg-first order-last mt-lg-0 mt-3">
          <h3 class="text-lg-left text-center">Create & Manage Your <strong>Notes Easily Everywhere & Anytime</strong></h3>
        </div>
        <div class="col-lg col-12">
          <img
            src="images/home-image.svg"
            alt=""
            width="100%"
          >
        </div>
      </div>

      <div class="d-flex justify-content-between align-items-center">
        <h4 class="text-center">Recent <strong>Notes</strong></h4>
        <router-link to="/notes" class="btn btn-primary"><b-icon-eye-fill></b-icon-eye-fill> See all</router-link>
      </div>
      <div class="row align-items-center justify-content-center mt-4">
        <div
          class="col-md-4 py-2 col-12"
          v-for="note in notes"
          :key="note.id"
        >
          <CardNote :note="note" />
        </div>
      </div>

    </div>

  </div>
</template>

<script>

import Navbar from '@/components/Navbar.vue'
import CardNote from '@/components/CardNote.vue'

import token from '@/core/JwtService'
import api from '@/core/ApiService'

export default {

  name: 'Home',

  components: {
    Navbar,
    CardNote
  },

  data() {
    return {
      notes: []
    }
  },

  methods: {

    setNotes(notes) {
      this.notes = notes
    },

    fetchNotes() {
      api.get('/notes/get-recent-notes/' + token.getUserId())
        .then((response) => {
          this.setNotes(response.data)
        })
        .catch((error) => {
          console.log(error)
        })
    }

  },

  mounted() {
    this.fetchNotes()
  }

}

</script>

<style>
</style>