<template>
  <div>

    <!-- Navbar Component -->
    <Navbar />

    <div class="container mt-4 mb-4">

      <!-- BreadCrumb -->
      <BreadCrumb
        :navItems="breadCrumbNav"
        currentNav="Note Detail"
      />

      <!-- Main Row -->
      <div class="row align-items-center mb-5">

        <!-- Image -->
        <div class="col-lg col-12 py-2">
          <img
            src="/images/detail-note.svg"
            alt=""
            width="100%"
            @load="onImageLoad()"
          >
        </div>

        <!-- Content -->
        <div class="col-lg col-12 py-2">
          <transition
            appear
            appear-active-class="animate__animated animate__fadeInRight animate__faster"
          >
            <table class="table">
              <tr>
                <td><strong>Title</strong></td>
                <td>{{ note.title }}</td>
              </tr>
              <tr>
                <td><strong>Content</strong></td>
                <td>{{ note.content }}</td>
              </tr>
            </table>
          </transition>
        </div>

      </div>

    </div>

  </div>
</template>

<script>

import api from '@/core/ApiService'

import Navbar from '@/components/Navbar.vue'
import BreadCrumb from '@/components/BreadCrumb.vue'

export default {

  name: 'NoteDetail',

  components: {
    Navbar,
    BreadCrumb
  },

  data() {
    return {
      imgLoaded: false,
      note: {
        title: '',
        content: ''
      },
      breadCrumbNav: [
        { name: 'Notes', route: '/notes' },
      ]
    }
  },

  methods: {

    onImageLoad() {
      this.imgLoaded = true
    },

    setData(data) {
      this.note = data
    },

    getNoteData() {
      api.get('/notes/detail/' + this.$route.params.id)
        .then((response) => {
          this.setData(response.data)
        })
        .catch((error) => {
          console.log(error)
        })
    }

  },

  mounted() {
    this.getNoteData()
  }

}
</script>

<style>
</style>