<template>
  <div>

    <!-- Navbar Component -->
    <Navbar />

    <div class="container mt-4 mb-4">

      <!-- Hero Image -->
      <div class="row justify-content-center mb-4">
        <div class="col-12">
          <img
            src="images/notes-image.svg"
            alt=""
            width="100%"
            height="200px"
          >
        </div>
      </div>

      <!-- Notes Row -->
      <div class="d-flex justify-content-between align-items-center mb-2">
        <h4>My <strong>Notes</strong></h4>
        <router-link to="/create-note" class="btn btn-primary"><b-icon-plus></b-icon-plus> Create New</router-link>
      </div>
      <div class="row">
        <div
          class="col-md-3 py-2 col-12"
          v-for="note in notes"
          :key="note.id"
        >
          <CardNote :note="note" />
        </div>
      </div>

    </div>

  </div>
</template>

<script>

import Navbar from '@/components/Navbar.vue'
import CardNote from '@/components/CardNote.vue'

import token from '@/core/JwtService'
import api from '@/core/ApiService'

export default {

  name: 'Notes',

  components: {
    Navbar,
    CardNote
  },

  data() {
    return {
      notes: []
    }
  },

  methods: {

    setNotes(notes) {
      this.notes = notes
    },

    fetchNotes() {
      api.get('/notes/get-notes/' + token.getUserId())
        .then((response) => {
          this.setNotes(response.data)
        })
        .catch((error) => {
          console.log(error)
        })
    }

  },

  mounted() {
    this.fetchNotes()
  }

}
</script>

<style>
</style>