<template>
  <div>

    <!-- Navbar Component -->
    <Navbar />

    <div class="container mt-4 mb-4">
      <div class="row align-items-center mb-5">

        <!-- Image -->
        <div class="col-lg col-12">
          <img
            :src="imgUrl + '/' + profileData.profile_image"
            alt=""
            width="100%"
            @load="onImageLoad()"
          >
        </div>

        <!-- Profile Card -->
        <div class="col-lg col-12">
          <transition
            appear
            appear-active-class="animate__animated animate__fadeInRight animate__faster"
            v-if="imgLoaded != false"
          >
            <div class="card border-white">
              <div class="card-body">
                <h4>Your <strong>Profile</strong></h4>
                <table class="table mt-4">
                  <tr>
                    <td
                      style="width:40%"
                      class="font-weight-bold"
                    >Full Name</td>
                    <td>{{ profileData.full_name }}</td>
                  </tr>
                  <tr>
                    <td class="font-weight-bold">Username</td>
                    <td>{{ profileData.username }}</td>
                  </tr>
                  <tr v-if="'created_at' in profileData">
                    <td class="font-weight-bold">Joined at</td>
                    <td>{{ new Date(profileData.created_at).toLocaleDateString('id-ID') }}</td>
                  </tr>
                </table>
                <div class="form-group">
                  <router-link class="btn btn-primary mx-2" to="/change-password">Change Password</router-link>
                  <router-link class="btn btn-success mx-2" to="/change-profile">Change Profile</router-link>
                </div>
              </div>
            </div>
          </transition>
        </div>

      </div>
    </div>

  </div>
</template>

<script>

import api from '@/core/ApiService'
import token from '@/core/JwtService'
import Navbar from '@/components/Navbar.vue'

// api.init()
// api.setHeader()

export default {

  name: 'Profile',

  components: {
    Navbar
  },

  data() {
    return {
      profileData: [],
      imgUrl: window.imgUrl,
      imgLoaded: false
    }
  },

  methods: {

    onImageLoad() {
      this.imgLoaded = true
    },

    getProfile() {
      api.get('/profile/get-profile/' + token.getUserId())
        .then((response) => {
          this.profileData = response.data
        })
        .catch((error) => {
          console.log(error)
        })
    }

  },

  mounted() {
    this.getProfile()
  }

}
</script>

<style>
</style>