<template>
  <div class="container h-100">
    <div class="row align-items-center justify-content-center h-100">

      <!-- First Col Splash Image -->
      <SplashImage />

      <!-- Second Col Card Login -->
      <transition
        appear
        appear-active-class="animate__animated animate__fadeIn"
      >
        <div class="col-md-5 col-12">
          <h3 class="text-center">Vue <strong>Note</strong> | Create Account</h3>
          <div class="card border-white mt-4">
            <div class="card-body px-4">
              <form @submit.stop.prevent="formOnSubmit()">

                <!-- Full Name Input -->
                <div class="form-group">
                  <label for="fullName">Full Name</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <b-icon-file-person></b-icon-file-person>
                      </div>
                    </div>
                    <input
                      type="text"
                      id="fullName"
                      class="form-control"
                      placeholder="Full Name"
                      autocomplete="off"
                      v-model="formData.full_name"
                    >
                  </div>
                  <small class="text-danger">{{ fullNameError }}</small>
                </div>

                <!-- Username Input -->
                <div class="form-group">
                  <label for="username">Username</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <b-icon-person></b-icon-person>
                      </div>
                    </div>
                    <input
                      type="text"
                      id="username"
                      class="form-control"
                      placeholder="Username"
                      autocomplete="off"
                      v-model="formData.username"
                    >
                  </div>
                  <small class="text-danger">{{ usernameError }}</small>
                </div>

                <!-- Password Input -->
                <div class="form-group">
                  <label for="password">Password</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div
                        class="input-group-text"
                        @click="togglePassword()"
                      >
                        <template v-if="passwordIsVisible == 'text'">
                          <b-icon-eye></b-icon-eye>
                        </template>
                        <template v-if="passwordIsVisible == 'password'">
                          <b-icon-eye-slash></b-icon-eye-slash>
                        </template>
                      </div>
                    </div>
                    <input
                      :type="passwordIsVisible"
                      id="password"
                      class="form-control"
                      placeholder="********"
                      v-model="formData.password"
                    >
                  </div>
                  <small class="text-danger">{{ passwordError }}</small>
                </div>

                <hr>

                <!-- Submit Button -->
                <div class="form-group">
                  <button
                    type="submit"
                    class="btn btn-primary btn-block"
                  >Confirm</button>
                </div>

                <div class="text-center">
                  <router-link to="/sign-in"><small> Already have an a account? Sign in</small></router-link>
                </div>

              </form>
            </div>
          </div>
        </div>
      </transition>

    </div>
  </div>
</template>

<script>

import api from '@/core/ApiService'
import SplashImage from '@/components/SplashImage.vue'

export default {

  name: 'SignIn',

  components: {
    SplashImage
  },

  data() {
    return {
      formData: {
        full_name: '',
        username: '',
        password: ''
      },
      passwordIsVisible: 'password',
      fullNameError: '',
      usernameError: '',
      passwordError: ''
    }
  },

  props: {

  },

  methods: {

    togglePassword() {
      if (this.passwordIsVisible == 'password') {
        this.passwordIsVisible = 'text'
      } else if (this.passwordIsVisible == 'text') {
        this.passwordIsVisible = 'password'
      }
    },

    setValidationError(error) {
      this.fullNameError = 'full_name' in error ? error.full_name[0] : ''
      this.usernameError = 'username' in error ? error.username[0] : ''
      this.passwordError = 'password' in error ? error.password[0] : ''
    },

    clearValidationError() {
      this.fullNameError = ''
      this.usernameError = ''
      this.passwordError = ''
    },

    registerSuccess(response) {
      this.clearValidationError()
      if (response.title == 'success') {
        this.$toast.success(response.message, {
          position: 'top-right',
          duration: 7000
        })
        // Redirect To Sign In Page
        this.$router.push({ name: 'SignIn' })
      } else if (response.title == 'error') {
        this.registerFailed(response)
      }
    },

    registerFailed(response) {
      this.$toast.error(response.message, {
        position: 'top-right'
      })
    },

    formOnSubmit() {
      api.post('/authentication/create-account', this.formData)
        .then((response) => this.registerSuccess(response.data))
        .catch((error) => {
          console.log(error)
          if (error.response.status == 422) {
            this.setValidationError(error.response.data)
          }
        })
    }

  }

}
</script>

<style>
</style>