<template>
  <div class="container h-100">
    <div class="row align-items-center justify-content-center h-100">

      <!-- First Col Splash Image -->
      <SplashImage />

      <!-- Second Col Card Login -->
      <transition
        appear
        appear-active-class="animate__animated animate__fadeIn"
      >
        <div class="col-md-5 col-12">
          <h3 class="text-center">Vue <strong>Note</strong> | Sign In</h3>
          <div class="card border-white mt-4">
            <div class="card-body px-4">
              <form @submit.stop.prevent="formOnSubmit()">

                <!-- Username Input -->
                <div class="form-group">
                  <label for="username">Username</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <b-icon-person></b-icon-person>
                      </div>
                    </div>
                    <input
                      type="text"
                      id="username"
                      class="form-control"
                      placeholder="Username"
                      autocomplete="off"
                      v-model="formData.username"
                    >
                  </div>
                  <small class="text-danger">{{ usernameError }}</small>
                </div>

                <!-- Password Input -->
                <div class="form-group">
                  <label for="password">Password</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div
                        class="input-group-text"
                        @click="togglePassword()"
                      >
                        <template v-if="passwordIsVisible == 'text'">
                          <b-icon-eye></b-icon-eye>
                        </template>
                        <template v-if="passwordIsVisible == 'password'">
                          <b-icon-eye-slash></b-icon-eye-slash>
                        </template>
                      </div>
                    </div>
                    <input
                      :type="passwordIsVisible"
                      id="password"
                      class="form-control"
                      placeholder="********"
                      v-model="formData.password"
                    >
                  </div>
                  <small class="text-danger">{{ passwordError }}</small>
                </div>

                <div class="form-group my-n2">
                  <router-link to="forgot-password"><small>Forgot password</small></router-link>
                </div>

                <hr>

                <!-- Submit Button -->
                <div class="form-group">
                  <button class="btn btn-primary btn-block">Sign In</button>
                </div>

                <div class="text-center">
                  <router-link to="/register"><small> Don't have an account? Click here</small></router-link>
                </div>

              </form>
            </div>
          </div>
        </div>
      </transition>

    </div>
  </div>
</template>

<script>

import api from '@/core/ApiService'
import token from '@/core/JwtService'
import SplashImage from '@/components/SplashImage.vue'

export default {

  name: 'SignIn',

  components: {
    SplashImage
  },

  data() {
    return {
      formData: {
        username: '', password: ''
      },
      passwordIsVisible: 'password',
      usernameError: '',
      passwordError: ''
    }
  },

  methods: {

    togglePassword() {
      if (this.passwordIsVisible == 'password') {
        this.passwordIsVisible = 'text'
      } else if (this.passwordIsVisible == 'text') {
        this.passwordIsVisible = 'password'
      }
    },

    setValidationError(error) {
      this.usernameError = 'username' in error ? error.username[0] : ''
      this.passwordError = 'password' in error ? error.password[0] : ''
    },

    clearValidationError() {
      this.usernameError = ''
      this.passwordError = ''
    },

    signInSuccess(response) {
      this.clearValidationError()
      if (response.title == 'success') {
        this.$toast.success(response.message, {
          position: 'top-right'
        })
        // Set Token
        token.saveToken(response.token)
        // Set LocalStorage User Id
        token.saveUserId(response.user_id)
        // Redirect To Home
        this.$router.push({ name: 'Home' })
        // Set Request Header
        api.setHeader()
      } else if (response.title == 'error') {
        this.signInFailed(response)
      }
    },

    signInFailed(response) {
      this.$toast.error(response.message, {
        position: 'top-right'
      })
    },

    formOnSubmit() {
      api.post('/authentication/sign-in', this.formData)
        .then((response) => this.signInSuccess(response.data))
        .catch((error) => {
          console.log(error)
          if (error.response.status == 422) {
            this.setValidationError(error.response.data)
          }
        })
    }

  }

}
</script>

<style>
</style>