<template>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb mb-4">
      <li
        class="breadcrumb-item"
        v-for="navItem in navItems"
        :key="navItem.route"
      >
        <router-link :to="navItem.route">{{ navItem.name }}</router-link>
      </li>
      <li
        class="breadcrumb-item active"
        aria-current="page"
      >{{ currentNav }}</li>
    </ol>
  </nav>
</template>

<script>
export default {

  name: 'BreadCrumb',

  props: {
    navItems: Array,
    currentNav: String
  }

}
</script>

<style>
</style>