<template>
  <div v-if="note !== null">
    <transition
      appear
      appear-active-class="animate__animated animate__fadeIn"
    >
      <div class="card shadow-sm">
        <div class="card-body">
          <h5>{{ note.title }}</h5>
          <div
            class="card-text text-truncate"
            style="font-size: 13.5px"
          >{{ note.content }}</div>
        </div>
        <div
          class="card-footer bg-white text-right"
          style="border: none"
        >
          <button
            class="btn btn-sm btn-danger shadow-sm mx-1"
            @click="deleteNote()"
          >
            <b-icon-trash-fill></b-icon-trash-fill> Hapus
          </button>
          <router-link
            class="btn btn-sm btn-primary shadow-sm mx-1"
            :to="'/note/' + note.id"
          >
            <b-icon-eye-fill></b-icon-eye-fill> Lihat
          </router-link>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>

import api from '@/core/ApiService'
import Swal from 'sweetalert2'

export default {

  name: 'CardNote',

  props: {
    note: Object
  },

  methods: {

    deleteNote() {
      Swal.fire({
        title: 'Confirm Delete?',
        text: 'Delete this Note?',
        icon: 'question',
        showCancelButton: true,
      }).then((result) => {
        if (result.value) {
          api.delete('/notes/' + this.note.id)
            .then((response) => {
              this.$toast.success(response.data.message, {
                position: 'top-right'
              })
              this.note = null
            })
            .catch((error) => {
              console.log(error)
            })
        }
      })
    },

  },

}
</script>

<style>
</style>