<template>
  <div>
    <b-navbar
      toggleable="lg"
      type="light"
      variant="white"
      class="shadow-sm"
    >
      <div class="container">
        <b-navbar-brand href="#">Vue <strong>Note</strong></b-navbar-brand>
        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
        <b-collapse
          id="nav-collapse"
          is-nav
        >
          <b-navbar-nav>
            <router-link
              class="nav-link"
              to="/home"
            >Home</router-link>
            <router-link
              class="nav-link"
              to="/notes"
            >My Notes</router-link>
            <router-link
              class="nav-link"
              to="/profile"
            >Profile</router-link>
          </b-navbar-nav>
          <b-navbar-nav class="ml-auto">
            <a
              href="#"
              class="nav-link"
              @click.stop.prevent="signOut()"
            >Sign Out</a>
          </b-navbar-nav>
        </b-collapse>
      </div>
    </b-navbar>
  </div>
</template>

<script>

import api from '@/core/ApiService'
import token from '@/core/JwtService'
import Swal from 'sweetalert2'

export default {

  name: 'Navbar',

  methods: {

    signOut() {
      Swal.fire({
        showClass: {
          popup: 'animate__animated animate__faster animate__fadeInDown'
        },
        hideClass: {
          popup: 'animate__animated animate__faster animate__fadeOutUp'
        },
        title: 'Confirm Sign Out?',
        text: 'Are you sure want to sign out?',
        icon: 'question',
        showCancelButton: true,
      }).then((result) => {
        if (result.value == true) {
          // Destroy Token
          token.destroyToken()

          // Redirect to Sign In
          this.$router.push({ name: 'SignIn' })

          // Reset Token Header
          api.setHeader()
        }
      })
    }

  }

}

</script>

<style>
</style>