<template>
  <div class="col-md col-12 d-none d-md-block">
    <img
      src="images/splash-image.svg"
      width="100%"
      alt=""
    >
  </div>
</template>

<script>

export default {
  name: 'SplashImage'
}

</script>

<style>
</style>